[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==21.5b2"
flask = "2.0.1"
pydocstyle = "~=6.1.1"
istor = "5.9.1"
pytest = "~=6.1.2"

[dev-packages]

[requires]
python_version = "3.8"
